$menu-width: 280px;

.menu {
    width: $menu-width;
    background-color: $default-bg-color;
    transition: margin-left 0.3s ease-in-out;
    border-right: $border;
    z-index: 20;

    &__filter {
        width: 100%;
        height: 65px;
        padding: 16px;
        display: flex;
        justify-content: space-between;
        column-gap: 8px;
        border-bottom: $border;
    }

    &_hidden {
        margin-left: -$menu-width;
    }

    &__menu-list {
        display: flex;
        flex-direction: column;
        background-color: $input-bg-color;
        overflow-x: hidden;
    }

    &__menu-item {
        display: flex;
        align-items: center;
        column-gap: 8px;
        padding: 10px 16px;
        height: 40px;
        cursor: pointer;
    }

    @media screen and (max-width: $bp-desktop-sm) {
        position: absolute;
        left: 56px;
        height: calc(100vh - 48px);
    }
    @media screen and (max-width: $bp-tablet-sm) {
        left: 0;
        height: calc(100vh - 56px);
    }
}
