$default-font: "Open Sans", sans-serif;
$title-font: "Montserrat", sans-serif;
$default-color: #2e3238;
$default-bg-color: #fff;
$inverse-color: #fff;
$background-color: #ffffff;
$input-bg-color: #fcfcfd;
$border-color: #d5d8dd;
$border-color-hover: #abb1ba;
$icon-color: #2e3238;
$icon-accent-blue: #005999;
$text-mask-color: #abb1ba;
$icon-diabled-color: #abb1ba;
$button-primery-bg-color: #0078cf;
$border: 1px solid $border-color;
