$default-font: "Open Sans", sans-serif;
$title-font: "Montserrat", sans-serif;
$default-color: #2e3238;
$default-bg-color: #fff;
$inverse-color: #fff;
$background-color: #ffffff;
$input-bg-color: #fcfcfd;
$border-color: #d5d8dd;
$border-color-hover: #abb1ba;
$icon-color: #2e3238;
$icon-accent-blue: #005999;
$text-mask-color: #abb1ba;
$icon-diabled-color: #abb1ba;
$button-primery-bg-color: #0078cf;
$badge-border-color: #99d5ff;
$badge-bg-color: #e5f4ff;

$border: 1px solid $border-color;

$max-width: 1920px;
$bp-desktop-sm: 991px;
$bp-tablet-sm: 767px;
$bp-mobile-sm: 320px;
