.content {
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    row-gap: 24px;

    &__title {
        margin: 0;

        font-family: $title-font;
        font-size: 24px;
        font-weight: 600;
        line-height: 32px;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    @media screen and (max-width: $bp-tablet-sm) {
        &__title {
            font-size: 20px;
            line-height: 24px;
        }
    }
}
