$max-width: 1920px;
$bp-desktop-sm: 991px;
$bp-tablet-sm: 767px;
$bp-mobile-sm: 320px;

.layout {
    height: 100vh;
    max-width: $max-width;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 48px 1fr;

    .wrapper {
        display: flex;
    }

    main {
        background-color: blue;
        width: 100%;
    }

    @media screen and (max-width: $bp-tablet-sm) {
        grid-template-rows: 56px 1fr;
    }
}
