.layout {
    height: 100vh;
    max-width: $max-width;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 48px 1fr;

    &__aside-and-main-wrapper {
        display: flex;
    }

    & main {
        display: flex;
        flex-direction: column;
        width: 100%;
        row-gap: 16px;
    }

    @media screen and (max-width: $bp-tablet-sm) {
        grid-template-rows: 56px 1fr;
    }
}
