.layout {
    height: 100vh;
    max-width: $max-width;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 48px 1fr;

    &__layout__aside-and-main-wrapper {
        display: flex;
    }

    & main {
        background-color: blue;
        width: 100%;
    }

    @media screen and (max-width: $bp-tablet-sm) {
        grid-template-rows: 56px 1fr;
    }
}
