.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    background-color: rgba(11, 12, 14, 0.4);
    z-index: 100;
    padding: 16px;

    &__content-wrapper {
        margin: 0 auto;
        max-width: 800px;
        background-color: $default-bg-color;
        padding: 0 16px 16px 16px;
        border-radius: 4px;
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 24px 8px;
    }

    &__task-title {
        font-family: $title-font;
        font-size: 20px;
    }

    &__buttons {
        display: flex;
        column-gap: 4px;
        align-items: center;
    }

    &__footer-buttons {
        margin-top: 16px;
        display: flex;
        flex-direction: column;
        row-gap: 16px;
    }

    @media screen and (max-width: $bp-desktop-sm) {
        padding: 0;

        &__content-wrapper {
            border-radius: 0;
        }
        &__header {
            padding: 12px 0px;
        }
    }
}

.desktop {
    @media screen and (max-width: $bp-desktop-sm) {
        display: none;
    }
}

.mobile {
    @media screen and (min-width: $bp-desktop-sm) {
        display: none;
    }
}
