%tablet-view {
    @media screen and (max-width: $bp-tablet-sm) {
        display: none;
    }
}

.header {
    display: flex;
    padding: 0 16px;
    align-items: center;
    justify-content: space-between;
    border-bottom: $border;

    &__logo {
        @extend %tablet-view;
    }

    &__btn-wrapper {
        @media screen and (min-width: $bp-tablet-sm) {
            display: none;
        }
    }

    &__info {
        display: flex;
        column-gap: 8px;
        width: 532px;
        @media screen and (max-width: $bp-tablet-sm) {
            width: auto;
            column-gap: 16px;
        }
    }

    &__info_input {
        @extend %tablet-view;
    }
}

.user-info {
    display: flex;
    column-gap: 8px;
    align-items: center;
    margin-left: 8px;

    &__name {
        text-wrap: nowrap;

        @extend %tablet-view;
    }
}
