.navigator {
    position: relative;
    z-index: 50;
    width: 56px;
    height: 100%;
    border-right: $border;
    background-color: $default-bg-color;

    &__item {
        width: 56px;
        height: 56px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
}
